<a href="https://colab.research.google.com/github/micahrivs/MachineLearning-MagicDataset/blob/main/getting_real.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

# Import our input dataset
attrition_df = pd.read_csv('https://static.bc-edx.com/data/dl-1-2/m21/lessons/2/HR-Employee-Attrition.csv')
attrition_df

,Unnamed: 0,Age,Attrition,BusinessTravel,DailyRate,Department,Education,JobRole,DistanceFromHome,EnvironmentSatisfaction,...,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,StandardHours,WorkLifeBalance
0,0,35,Yes,Travel_Frequently,502,S,a,l,5,4,...,Divorced,9200,10448,2,Y,Yes,5,1,80,1
1,1,42,No,Non-Travel,497,S,a,l,3,3,...,Single,10719,9049,3,Y,No,7,2,80,4
2,2,34,No,Non-Travel,505,T,e,c,4,3,...,Single,9843,9941,3,Y,No,10,3,80,1
3,3,43,No,Non-Travel,493,T,e,c,5,2,...,Divorced,12077,10150,5,Y,Yes,1,3,80,4
4,4,43,Yes,Travel_Rarely,536,R,e,s,4,4,...,Single,10486,10008,2,Y,No,9,1,80,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1445,1445,32,No,Travel_Rarely,506,S,a,l,2,3,...,Single,8328,9601,4,Y,No,12,2,80,3
1446,1446,44,No,Travel_Frequently,509,S,a,l,4,3,...,Married,9783,10634,2,Y,Yes,10,3,80,3
1447,1447,40,No,Non-Travel,510,S,a,l,3,5,...,Married,10307,9742,3,Y,No,6,4,80,4
1448,1448,30,No,Non-Travel,493,T,e,c,7,2,...,Single,10353,8678,3,Y,Yes,18,2,80,1
1449,1449,55,No,Travel_Rarely,509,R,e,s,3,2,...,Divorced,10276,12054,2,Y,No,7,3,80,3

In [2]:
# Generate our categorical variable lists
df_cat= attrition_df.dtypes[attrition_df.dtypes=="object"].index.tolist()

In [3]:
# Check the number of unique values in each column
df_cat

['Attrition',
 'BusinessTravel',
 'Department',
 'Education',
 'JobRole',
 'Gender',
 'MaritalStatus',
 'Over18',
 'OverTime']

In [4]:
attrition_df[df_cat].nunique()

Attrition         2
BusinessTravel    3
Department        3
Education         2
JobRole           3
Gender            2
MaritalStatus     3
Over18            2
OverTime          2
dtype: int64

In [5]:
# Create a OneHotEncoder instance
enc=OneHotEncoder(sparse=False)
# Fit and transform the OneHotEncoder using the categorical variable list
encode_df=pd.DataFrame(enc.fit_transform(attrition_df[df_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns=enc.get_feature_names_out(df_cat)
encode_df.head()

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_R,Department_S,Department_T,Education_a,Education_e,...,JobRole_s,Gender_F,Gender_M,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_N,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
1,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
3,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
4,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [6]:
# Merge one-hot encoded features and drop the originals
attritiond_df=attrition_df.merge(encode_df, left_index=True, right_index=True)
#option2
# attrition_df=pd.concat([attrition_df,encode_df],axis=1)
attrition_df=attrition_df.drop(df_cat,axis=1)
attrition_df.head()

,Unnamed: 0,Age,DailyRate,DistanceFromHome,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,MonthlyRate,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,StandardHours,WorkLifeBalance
0,0,35,502,5,4,48,4,2,5,9200,10448,2,5,1,80,1
1,1,42,497,3,3,50,4,3,5,10719,9049,3,7,2,80,4
2,2,34,505,4,3,46,2,3,5,9843,9941,3,10,3,80,1
3,3,43,493,5,2,48,3,1,5,12077,10150,5,1,3,80,4
4,4,43,536,4,4,53,2,3,2,10486,10008,2,9,1,80,3

In [7]:
attrition_df=attrition_df.drop(columns=["Unnamed: 0"])

In [18]:
# Split our preprocessed data into our features and target arrays
y= encode_df['Attrition_Yes'].values
X=encode_df.drop(columns=['Attrition_Yes','Attrition_No']).values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train,y_test=train_test_split(X,y,random_state=42)

In [19]:
# Create a StandardScaler instances
scaler=StandardScaler()

# Fit the StandardScaler
X_scaler=scaler.fit(X_train)

# Scale the data
X_train_scaled=X_scaler.transform(X_train)
X_test_scaled=X_scaler.transform(X_test)

In [20]:
len(X_train_scaled[0])

20

In [21]:
# Define the model - deep neural net
num_of_features=len(X_train_scaled[0])

nn_model=tf.keras.models.Sequential()
# First hidden layer
nn_model.add(
    tf.keras.layers.Dense(units=40, activation='relu',input_dim=num_of_features)
)

# Second hidden layer
nn_model.add(
    tf.keras.layers.Dense(units=10, activation='relu')
)

# Output layer

nn_model.add(
    tf.keras.layers.Dense(units=1, activation='sigmoid')
)


# Check the structure of the model

In [22]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam",  metrics=["accuracy"])

In [23]:
# Train the model

fit_model=nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
34/34 [==============================] - 1s 2ms/step - loss: 0.5298 - accuracy: 0.7967
Epoch 2/100
34/34 [==============================] - 0s 2ms/step - loss: 0.4536 - accuracy: 0.8454
Epoch 3/100
34/34 [==============================] - 0s 2ms/step - loss: 0.4337 - accuracy: 0.8454
Epoch 4/100
34/34 [==============================] - 0s 2ms/step - loss: 0.4254 - accuracy: 0.8454
Epoch 5/100
34/34 [==============================] - 0s 2ms/step - loss: 0.4207 - accuracy: 0.8454
Epoch 6/100
34/34 [==============================] - 0s 2ms/step - loss: 0.4182 - accuracy: 0.8454
Epoch 7/100
34/34 [==============================] - 0s 2ms/step - loss: 0.4164 - accuracy: 0.8454
Epoch 8/100
34/34 [==============================] - 0s 2ms/step - loss: 0.4151 - accuracy: 0.8454
Epoch 9/100
34/34 [==============================] - 0s 2ms/step - loss: 0.4130 - accuracy: 0.8454
Epoch 10/100
34/34 [==============================] - 0s 2ms/step - loss: 0.4124 - accuracy: 0.8454
Epoch 11/100
34/34 [==============================] - 0s 2ms/step - loss: 0.4116 - accuracy: 0.8454
Epoch 12/100
34/34 [==============================] - 0s 2ms/step - loss: 0.4108 - accuracy: 0.8454
Epoch 13/100
34/34 [==============================] - 0s 2ms/step - loss: 0.4096 - accuracy: 0.8454
Epoch 14/100
34/34 [==============================] - 0s 2ms/step - loss: 0.4087 - accuracy: 0.8454
Epoch 15/100
34/34 [==============================] - 0s 2ms/step - loss: 0.4075 - accuracy: 0.8454
Epoch 16/100
34/34 [==============================] - 0s 2ms/step - loss: 0.4079 - accuracy: 0.8454
Epoch 17/100
34/34 [==============================] - 0s 2ms/step - loss: 0.4061 - accuracy: 0.8454
Epoch 18/100
34/34 [==============================] - 0s 2ms/step - loss: 0.4064 - accuracy: 0.8454
Epoch 19/100
34/34 [==============================] - 0s 2ms/step - loss: 0.4048 - accuracy: 0.8454
Epoch 20/100
34/34 [==============================] - 0s 2ms/step - loss: 0.4048 - accuracy: 0.8454
Epoch 21/100
34/34 [==============================] - 0s 2ms/step - loss: 0.4044 - accuracy: 0.8454
Epoch 22/100
34/34 [==============================] - 0s 2ms/step - loss: 0.4039 - accuracy: 0.8454
Epoch 23/100
34/34 [==============================] - 0s 2ms/step - loss: 0.4034 - accuracy: 0.8454
Epoch 24/100
34/34 [==============================] - 0s 2ms/step - loss: 0.4024 - accuracy: 0.8454
Epoch 25/100
34/34 [==============================] - 0s 2ms/step - loss: 0.4023 - accuracy: 0.8454
Epoch 26/100
34/34 [==============================] - 0s 2ms/step - loss: 0.4014 - accuracy: 0.8454
Epoch 27/100
34/34 [==============================] - 0s 2ms/step - loss: 0.4020 - accuracy: 0.8454
Epoch 28/100
34/34 [==============================] - 0s 2ms/step - loss: 0.4009 - accuracy: 0.8454
Epoch 29/100
34/34 [==============================] - 0s 2ms/step - loss: 0.4007 - accuracy: 0.8454
Epoch 30/100
34/34 [==============================] - 0s 2ms/step - loss: 0.4011 - accuracy: 0.8454
Epoch 31/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3998 - accuracy: 0.8454
Epoch 32/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3993 - accuracy: 0.8454
Epoch 33/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3996 - accuracy: 0.8454
Epoch 34/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3996 - accuracy: 0.8454
Epoch 35/100
34/34 [==============================] - 0s 2ms/step - loss: 0.4003 - accuracy: 0.8454
Epoch 36/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3988 - accuracy: 0.8454
Epoch 37/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3993 - accuracy: 0.8454
Epoch 38/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3988 - accuracy: 0.8454
Epoch 39/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3972 - accuracy: 0.8454
Epoch 40/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3972 - accuracy: 0.8454
Epoch 41/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3966 - accuracy: 0.8454
Epoch 42/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3966 - accuracy: 0.8454
Epoch 43/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3965 - accuracy: 0.8454
Epoch 44/100
34/34 [==============================] - 0s 3ms/step - loss: 0.3956 - accuracy: 0.8454
Epoch 45/100
34/34 [==============================] - 0s 3ms/step - loss: 0.3962 - accuracy: 0.8454
Epoch 46/100
34/34 [==============================] - 0s 3ms/step - loss: 0.3955 - accuracy: 0.8454
Epoch 47/100
34/34 [==============================] - 0s 3ms/step - loss: 0.3955 - accuracy: 0.8454
Epoch 48/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3955 - accuracy: 0.8454
Epoch 49/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3944 - accuracy: 0.8454
Epoch 50/100
34/34 [==============================] - 0s 3ms/step - loss: 0.3943 - accuracy: 0.8454
Epoch 51/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3935 - accuracy: 0.8454
Epoch 52/100
34/34 [==============================] - 0s 3ms/step - loss: 0.3928 - accuracy: 0.8454
Epoch 53/100
34/34 [==============================] - 0s 3ms/step - loss: 0.3944 - accuracy: 0.8454
Epoch 54/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3929 - accuracy: 0.8454
Epoch 55/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3933 - accuracy: 0.8464
Epoch 56/100
34/34 [==============================] - 0s 3ms/step - loss: 0.3930 - accuracy: 0.8454
Epoch 57/100
34/34 [==============================] - 0s 3ms/step - loss: 0.3944 - accuracy: 0.8454
Epoch 58/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3918 - accuracy: 0.8454
Epoch 59/100
34/34 [==============================] - 0s 3ms/step - loss: 0.3920 - accuracy: 0.8464
Epoch 60/100
34/34 [==============================] - 0s 3ms/step - loss: 0.3910 - accuracy: 0.8464
Epoch 61/100
34/34 [==============================] - 0s 3ms/step - loss: 0.3928 - accuracy: 0.8464
Epoch 62/100
34/34 [==============================] - 0s 3ms/step - loss: 0.3916 - accuracy: 0.8464
Epoch 63/100
34/34 [==============================] - 0s 3ms/step - loss: 0.3917 - accuracy: 0.8473
Epoch 64/100
34/34 [==============================] - 0s 3ms/step - loss: 0.3918 - accuracy: 0.8464
Epoch 65/100
34/34 [==============================] - 0s 3ms/step - loss: 0.3918 - accuracy: 0.8464
Epoch 66/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3930 - accuracy: 0.8418
Epoch 67/100
34/34 [==============================] - 0s 3ms/step - loss: 0.3911 - accuracy: 0.8482
Epoch 68/100
34/34 [==============================] - 0s 3ms/step - loss: 0.3907 - accuracy: 0.8473
Epoch 69/100
34/34 [==============================] - 0s 3ms/step - loss: 0.3915 - accuracy: 0.8464
Epoch 70/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3906 - accuracy: 0.8482
Epoch 71/100
34/34 [==============================] - 0s 3ms/step - loss: 0.3900 - accuracy: 0.8473
Epoch 72/100
34/34 [==============================] - 0s 3ms/step - loss: 0.3895 - accuracy: 0.8464
Epoch 73/100
34/34 [==============================] - 0s 3ms/step - loss: 0.3897 - accuracy: 0.8473
Epoch 74/100
34/34 [==============================] - 0s 3ms/step - loss: 0.3894 - accuracy: 0.8482
Epoch 75/100
34/34 [==============================] - 0s 3ms/step - loss: 0.3895 - accuracy: 0.8473
Epoch 76/100
34/34 [==============================] - 0s 3ms/step - loss: 0.3888 - accuracy: 0.8454
Epoch 77/100
34/34 [==============================] - 0s 3ms/step - loss: 0.3894 - accuracy: 0.8473
Epoch 78/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3891 - accuracy: 0.8464
Epoch 79/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3887 - accuracy: 0.8482
Epoch 80/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3888 - accuracy: 0.8482
Epoch 81/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3869 - accuracy: 0.8473
Epoch 82/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3881 - accuracy: 0.8473
Epoch 83/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3878 - accuracy: 0.8482
Epoch 84/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3882 - accuracy: 0.8473
Epoch 85/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3873 - accuracy: 0.8473
Epoch 86/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3872 - accuracy: 0.8473
Epoch 87/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3871 - accuracy: 0.8482
Epoch 88/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3878 - accuracy: 0.8464
Epoch 89/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3874 - accuracy: 0.8473
Epoch 90/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3873 - accuracy: 0.8464
Epoch 91/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3871 - accuracy: 0.8491
Epoch 92/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3878 - accuracy: 0.8482
Epoch 93/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3864 - accuracy: 0.8473
Epoch 94/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3862 - accuracy: 0.8500
Epoch 95/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3862 - accuracy: 0.8482
Epoch 96/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3874 - accuracy: 0.8482
Epoch 97/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3853 - accuracy: 0.8482
Epoch 98/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3855 - accuracy: 0.8491
Epoch 99/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3864 - accuracy: 0.8473
Epoch 100/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3860 - accuracy: 0.8482

In [ ]:
# Evaluate the model using the test data
model_loss, model_acc=nn_model.evaluate(X_test_scaled,y_test,verbose=2)